### Web Scraping Challenge: Mission to Mars

In [296]:
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests

In [297]:
!which chromedriver

/usr/local/bin/chromedriver

In [298]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

#### PL Mars Space Images - Featured Image

In [304]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [305]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
image = soup.footer.a['data-fancybox-href']

In [306]:
x = 'https://www.jpl.nasa.gov'
featured_image_url = x + image

In [307]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA15253_ip.jpg'

#### Mars Weather

In [347]:
tweet = 'https://twitter.com/marswxreport?lang=en'

In [351]:
response = requests.get(tweet)
soup = BeautifulSoup(response.text, 'lxml')

In [389]:
results = soup.body.find_all('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')[0].text

In [390]:
results

'InSight sol 348 (2019-11-19) low -102.5ºC (-152.5ºF) high -23.2ºC (-9.8ºF)\nwinds from the SSE at 5.1 m/s (11.5 mph) gusting to 18.9 m/s (42.3 mph)\npressure at 6.80 hPapic.twitter.com/iZwojPj9au'

#### Mars Facts

In [391]:
facts = 'https://space-facts.com/mars/'

In [417]:
table = pd.read_html(facts)
mars_facts = table[0].to_html()
mars_earth = table[1].to_html()

In [418]:
table[2]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers